{
  "branches": [
    "release",
    {
      "name": "main",
      "prerelease": "rc"
    },
    {
      "name": "pre",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "./scripts/test-publishCmd.sh"
      }
    ]
  ]
}