name: build

on: 
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
          registry-url: "https://registry.npmjs.org"
      - run: docker build -t iamboyd/nodejs-test .
      #- run: mkdir dist && zip -r dist/artifact.zip deploy -x "/*node_modules/*" -x "/*cdk.out/*"
      - name: semantic-release
        run: npx -p "@semantic-release/exec" semantic-release --debug